In [13]:
def tr(previous_close, high, low):
    price_diff_1 = abs(high - low)
    price_diff_2 = abs(high - previous_close)
    price_diff_3 = abs(low - previous_close)

    tr = max (price_diff_1, price_diff_2, price_diff_3)

    return tr

In [14]:
tr = tr(175, \
    135, 132)
tr

43

In [15]:
import backtrader as bt
import yfinance as yf
#from strategies.my_indicators.SuperTrend import SuperTrend, SuperTrendBand

tr_list = [4, 18, 18, 32, 29, 19, 4, 2 ]
#atr = bt.indicators.ATR(tr_list, period=7)

In [16]:
cerebro = bt.Cerebro()
df = yf.download("TSLA", start = "2020-01-01")
feed = bt.feeds.PandasData(dataname = df)
feed.addfilter(bt.filters.HeikinAshi(feed))

#tr_list = [4, 18, 18, 32, 29, 19, 4, 2 ]



#atr = bt.indicators.ATR(feed, period=7)
#st = SuperTrendBand(feed, period = 7, multiplier = 3)

[*********************100%***********************]  1 of 1 completed

In [17]:
def tr(previous_close, high, low):
    price_diff_1 = abs(high - low)
    price_diff_2 = abs(high - previous_close)
    price_diff_3 = abs(low - previous_close)

    tr = max (price_diff_1, price_diff_2, price_diff_3)
    return tr

In [52]:
import pandas as pd
#df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values(by="Date", ascending=False)

df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-07-15,720.000000,730.869995,710.669983,720.200012,720.200012,23165500
2022-07-14,704.690002,715.960022,688.000000,714.940002,714.940002,26185800
2022-07-13,676.500000,726.179993,675.099976,711.119995,711.119995,32651500
2022-07-12,710.539978,719.320007,685.109985,699.210022,699.210022,29310300
2022-07-11,756.309998,759.190002,700.880005,703.030029,703.030029,33080400
...,...,...,...,...,...,...
2020-01-08,94.739998,99.697998,93.646004,98.428001,98.428001,155721500
2020-01-07,92.279999,94.325996,90.671997,93.811996,93.811996,89410500
2020-01-06,88.094002,90.311996,88.000000,90.307999,90.307999,50665000
2020-01-03,88.099998,90.800003,87.384003,88.601997,88.601997,88892500
2020-01-02,84.900002,86.139999,84.342003,86.052002,86.052002,47660500

In [45]:
df["Close"][1]-df["Low"][0]
df["High"][1]-df["Low"][1]

27.96002197265625

In [46]:
atr_period = 10
true_range = []
previous_true_range = []
for i in range (0, atr_period):
    true_range.append (tr(  previous_close  = df["Close"][i+1],   \
                            high            = df["High"][i],     \
                            low             = df["Low"][i],           ))
    previous_true_range.append (tr(     previous_close  = df["Close"][i+2],   \
                                        high            = df["High"][i+1],     \
                                        low             = df["Low"][i+1],           ))
previous_true_range

[27.96002197265625,
 51.08001708984375,
 34.21002197265625,
 58.30999755859375,
 41.46002197265625,
 40.8900146484375,
 22.1300048828125,
 50.94000244140625,
 24.33001708984375,
 31.77996826171875]

In [47]:

def atr(data, period):
    sum_tr = 0
    for i in range(0,period):
        sum_tr += data[i]

    atr = sum_tr/period
    return atr

In [48]:
current_atr = atr(true_range, atr_period)
previous_atr = atr(previous_true_range, atr_period)
current_atr

37.15101318359375

In [49]:
hl2 = (df['High'][0] + df['Low'][0]) / 2
hl2

720.7699890136719

In [50]:
# 計算現時的 SuperTrend
def supertrend(df, period=7, atr_multiplier=3):
    hl2 = (df['High'][0] + df['Low'][0]) / 2

    current_atr = atr(true_range, atr_period)

    current_upperband   = hl2 + (atr_multiplier * current_atr)
    previous_upperband  = hl2 + (atr_multiplier * previous_atr)

    current_lowerband   = hl2 - (atr_multiplier * current_atr)
    previous_lowerband  = hl2 - (atr_multiplier * previous_atr)

    current_in_uptrend  = True
    previous_in_uptrend = True
    
    if df['Close'][0] > previous_upperband:
        current_in_uptrend = True
    elif df['Close'][0] < previous_lowerband:
        current_in_uptrend = False
    else:
        current_in_uptrend = current_upperband

605.8429626464844

In [55]:
import pandas as pd
df1 = pd.DataFrame()


df1['open'] = df['Open']
df1['high'] = df['High']
df1['low'] = df['Low']
df1['close'] = df['Close']
df1['volume'] = df['Volume']

df1

                  open        high         low       close     volume
Date
2022-07-15  720.000000  730.869995  710.669983  720.200012   23165500
2022-07-14  704.690002  715.960022  688.000000  714.940002   26185800
2022-07-13  676.500000  726.179993  675.099976  711.119995   32651500
2022-07-12  710.539978  719.320007  685.109985  699.210022   29310300
2022-07-11  756.309998  759.190002  700.880005  703.030029   33080400
...                ...         ...         ...         ...        ...
2020-01-08   94.739998   99.697998   93.646004   98.428001  155721500
2020-01-07   92.279999   94.325996   90.671997   93.811996   89410500
2020-01-06   88.094002   90.311996   88.000000   90.307999   50665000
2020-01-03   88.099998   90.800003   87.384003   88.601997   88892500
2020-01-02   84.900002   86.139999   84.342003   86.052002   47660500

[639 rows x 5 columns]